@tailwind preflight;
@tailwind components;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #394047;
  font-family: "ltc-bodoni-175", Georgia, 'Times New Roman', Times, serif;
  @apply .font-thin .text-2xl .leading-tight .mb-2;
}

a {
  @apply .text-indigo .no-underline;

  &:hover {
    @apply .text-indigo-darker;
  }
}

@tailwind utilities;

* {
  box-sizing: border-box;
}

::selection {
  background: #e6e8ff;
}

body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #5f6771;
}

code {
  background-color: #f8f8f8;
  color: #6574cd;
  white-space: pre;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

pre {
  background: none;
  margin-bottom: 1.5rem;
  padding: 0;
  font-size: .75rem;
  position: relative;
  overflow-y: hidden;

  code {
    line-height: 1.75;
    padding: 1em 1.5em;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}


@import './dracula';
@import './article';
